<div class="header">
  <mat-grid-list cols="3" rowHeight="100px">
    <mat-grid-tile>
      <a style="color:black;font-size: 24px;" routerLink='/' routerLinkActive="activebutton"><strong>ZEO Solar IoT Dashboard</strong></a>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-form-field appearance="fill">
        <mat-label style="color: black;">{{ this.location }}</mat-label>
        <mat-select [disabled]="disableSelect.value">
          <mat-option value="option1">Location 1</mat-option>
          <mat-option value="option2">Location 2</mat-option>
          <mat-option value="option3">Location 3</mat-option>
        </mat-select>
      </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile>
      <button mat-raised-button color="basic" href="#" style="margin: 2px;">Settings</button>
      <button mat-raised-button style="margin-left: 5px" color="basic" (click)="logout()">Logout</button>
    </mat-grid-tile>
  </mat-grid-list>
</div>
<div>
  <mat-grid-list cols="3" rows="2" rowHeight="3:2">
    <mat-grid-tile>Somethings</mat-grid-tile>
    <mat-grid-tile>Else </mat-grid-tile>
    <mat-grid-tile>Here</mat-grid-tile>
    <mat-grid-tile>
      <ngx-charts-line-chart
        [view]="view"
        [scheme]="colorScheme"
        [legend]="legend"
        [showXAxisLabel]="showXAxisLabel"
        [showYAxisLabel]="showYAxisLabel"
        [xAxis]="xAxis"
        [yAxis]="yAxis"
        [xAxisLabel]="xAxisLabel"
        [yAxisLabel]="yAxisLabel"
        [timeline]="timeline"
        [results]="multi"
        (select)="onSelect($event)"
        (activate)="onActivate($event)"
        (deactivate)="onDeactivate($event)"
        >
        </ngx-charts-line-chart>
    </mat-grid-tile>
    <mat-grid-tile>
      <ngx-charts-line-chart
      [view]="view"
      [scheme]="colorScheme"
      [legend]="legend"
      [showXAxisLabel]="showXAxisLabel"
      [showYAxisLabel]="showYAxisLabel"
      [xAxis]="xAxis"
      [yAxis]="yAxis"
      [xAxisLabel]="xAxisLabel"
      [yAxisLabel]="yAxisLabel"
      [timeline]="timeline"
      [results]="multi"
      (select)="onSelect($event)"
      (activate)="onActivate($event)"
      (deactivate)="onDeactivate($event)"
      >
      </ngx-charts-line-chart>
    </mat-grid-tile>
    <mat-grid-tile>
      <ngx-charts-line-chart
      [view]="view"
      [scheme]="colorScheme"
      [legend]="legend"
      [showXAxisLabel]="showXAxisLabel"
      [showYAxisLabel]="showYAxisLabel"
      [xAxis]="xAxis"
      [yAxis]="yAxis"
      [xAxisLabel]="xAxisLabel"
      [yAxisLabel]="yAxisLabel"
      [timeline]="timeline"
      [results]="multi"
      (select)="onSelect($event)"
      (activate)="onActivate($event)"
      (deactivate)="onDeactivate($event)"
      >
      </ngx-charts-line-chart>
    </mat-grid-tile>
  </mat-grid-list>
</div>

