<header>
  <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
      <a class="navbar-brand my-0 mr-md-auto font-weight-normal" routerLink='/' routerLinkActive="activebutton"><strong>ZEO Solar IoT Dashboard</strong></a>
      <nav class="my-2 my-md-0 mr-md-3">
          <button mat-flat-button color="warn" href="#" style="margin: 2px;">Solar Emissivity</button>
          <button mat-flat-button color="warn"  href="#" style="margin: 2px;">Humidity and Temperature</button>
          <button mat-flat-button color="warn"  href="#" style="margin: 2px;">Power Generation</button>
      </nav>
      <div *ngIf="checkUser; then thenBlock else elseBlock"></div>
      <ng-template #thenBlock><button mat-raised-button color="primary" routerLink='/login' routerLinkActive="activebutton">Login</button></ng-template>
      <ng-template #elseBlock><button mat-raised-button color="primary" (click)="logout()">Logout</button></ng-template>
  </div>
</header>
<div>
  <button mat-raised-button>Basic</button>
</div>
<mat-grid-list cols="3" rowHeight="2:1">
  <mat-grid-tile></mat-grid-tile>
  <mat-grid-tile>
    <ngx-charts-line-chart
    [view]="view"
    [scheme]="colorScheme"
    [legend]="legend"
    [showXAxisLabel]="showXAxisLabel"
    [showYAxisLabel]="showYAxisLabel"
    [xAxis]="xAxis"
    [yAxis]="yAxis"
    [xAxisLabel]="xAxisLabel"
    [yAxisLabel]="yAxisLabel"
    [timeline]="timeline"
    [results]="multi"
    (select)="onSelect($event)"
    (activate)="onActivate($event)"
    (deactivate)="onDeactivate($event)"
    >
    </ngx-charts-line-chart>
  </mat-grid-tile>
  <mat-grid-tile></mat-grid-tile>
</mat-grid-list>
