<div class="header">
  <mat-grid-list cols="3" rowHeight="100px">
    <mat-grid-tile>
      <a style="text-decoration: none; color:black;font-size: 32px;" routerLink='/dashboard' routerLinkActive="activebutton"><strong>ZEO Solar IoT Dashboard</strong></a>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-card style="width: 80%; padding-top: 5%; text-align: center; font-size: 18px;">
        <mat-form-field appearance="fill" color="accent">
          <mat-label style="font-size: 18px; font-weight: bold;">{{ this.location }}</mat-label>
          <mat-select #loc (selectionChange)="updateParam(loc.value)" [(value)]="selectedLocation" style="color: black;">
            <mat-option [value]="data.value" *ngFor='let data of this.newData'>{{ data.name }}</mat-option>
          </mat-select>
        </mat-form-field>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
      <button mat-raised-button color="basic" routerLink='/setting' routerLinkActive="activebutton" style="padding: 3px; font-size: 24px;"><mat-icon>build</mat-icon></button>
      <button mat-raised-button style="margin-left: 5px; padding-top: 2.5px; padding-bottom: 2.5px; font-size: 24px;" color="basic" (click)="logout()">Logout</button>
    </mat-grid-tile>
  </mat-grid-list>
</div>
<div>
  <div class="container">
    <mat-grid-list cols="1"rowHeight="50">
      <mat-grid-tile>
        <h1 style="font-size: 42px; font-weight: bold;">Total Power Generated</h1>
      </mat-grid-tile>
      <mat-grid-tile rowspan="2">
        <h1 style="font-size: 52px; font-weight: bold;">{{ this.total }} kWh</h1>
      </mat-grid-tile>
    </mat-grid-list>
  </div>
  <mat-grid-list cols="3" rowHeight="50">
    <mat-grid-tile>
      <h1 style="font-size: 32px; font-weight: bold;">Temperature
      </h1>
    </mat-grid-tile>
    <mat-grid-tile>
      <h1 style="font-size: 32px; font-weight: bold;">
        Solar Irradiance
      </h1>
    </mat-grid-tile>
    <mat-grid-tile>
      <h1 style="font-size: 32px; font-weight: bold;">
        Power Generated
      </h1>
    </mat-grid-tile>
    <mat-grid-tile rowspan="6">
      <ngx-charts-line-chart
        [view]="view"
        [scheme]="colorScheme"
        [legend]="legend"
        [autoScale]="autoScale"
        [showXAxisLabel]="showXAxisLabel"
        [showYAxisLabel]="showYAxisLabel"
        [xAxis]="xAxis"
        [yAxis]="yAxis"
        [xAxisLabel]="xAxisLabel1"
        [yAxisLabel]="yAxisLabel1"
        [timeline]="timeline"
        [results]="temperatureg"
        (select)="onSelect($event)"
        (activate)="onActivate($event)"
        (deactivate)="onDeactivate($event)"
        >
        </ngx-charts-line-chart>
    </mat-grid-tile>
    <mat-grid-tile rowspan="6">
      <ngx-charts-line-chart
      [view]="view"
      [scheme]="colorScheme"
      [legend]="legend"
      [autoScale]="autoScale"
      [showXAxisLabel]="showXAxisLabel"
      [showYAxisLabel]="showYAxisLabel"
      [xAxis]="xAxis"
      [yAxis]="yAxis"
      [xAxisLabel]="xAxisLabel2"
      [yAxisLabel]="yAxisLabel2"
      [timeline]="timeline"
      [results]="irradianceg"
      (select)="onSelect($event)"
      (activate)="onActivate($event)"
      (deactivate)="onDeactivate($event)"
      >
      </ngx-charts-line-chart>
    </mat-grid-tile>
    <mat-grid-tile rowspan="6">
      <ngx-charts-line-chart
      [view]="view"
      [scheme]="colorScheme"
      [legend]="legend"
      [autoScale]="autoScale"
      [showXAxisLabel]="showXAxisLabel"
      [showYAxisLabel]="showYAxisLabel"
      [xAxis]="xAxis"
      [yAxis]="yAxis"
      [xAxisLabel]="xAxisLabel3"
      [yAxisLabel]="yAxisLabel3"
      [timeline]="timeline"
      [results]="powerg"
      (select)="onSelect($event)"
      (activate)="onActivate($event)"
      (deactivate)="onDeactivate($event)"
      >
      </ngx-charts-line-chart>
    </mat-grid-tile>
  </mat-grid-list>
  <mat-grid-list cols="4" rowHeight="100">
    <mat-grid-tile colspan="4">
      <mat-card style="width: 80%; text-align: center;">
        <div *ngIf="this.timestamp; else elseBlock"><h1 style="font-size: 32px; font-weight: bold;">Last Update: {{ this.timestamp | date: 'full'}}</h1>
        </div>
        <ng-template #elseBlock>
          <h1 style="font-size: 32px; font-weight: bold;">Last Update: Location invalid</h1>
        </ng-template>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
      <h1 style="font-size: 32px; font-weight: bold;">Humidity</h1>
    </mat-grid-tile>
    <mat-grid-tile>
      <h1 style="font-size: 32px; font-weight: bold;">Temperature</h1>
    </mat-grid-tile>
    <mat-grid-tile>
      <h1 style="font-size: 32px; font-weight: bold;">Power</h1>
    </mat-grid-tile>
    <mat-grid-tile>
      <h1 style="font-size: 32px; font-weight: bold;">Irradiance</h1>
    </mat-grid-tile>
    <mat-grid-tile>
      <button mat-raised-button color="basic" style="width: 50%; padding-top: 3%; text-align: center;">
        <h1 style="font-size: 24px;">{{ this.humidity }} %RH</h1>
      </button>
    </mat-grid-tile>
    <mat-grid-tile>
      <button mat-raised-button color="basic" style="width: 50%; padding-top: 3%; text-align: center;">
        <h1 style="font-size: 24px;">{{ this.temperature }} °C</h1>
      </button>
    </mat-grid-tile>
    <mat-grid-tile>
      <button mat-raised-button color="basic" style="width: 50%; padding-top: 3%; text-align: center;">
        <h1 style="font-size: 24px;">{{ this.power }} W</h1>
      </button>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-card style="width: 50%; text-align: center;">
        <h1 style="font-size: 24px;">{{ this.irradiance }} W/m²</h1>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>
<!-- <div>
  <ul>
    <li *ngFor='let data of this.newData'>{{data.value}}</li>
  </ul>
</div> -->
