<div class="header">
  <mat-grid-list cols="3" rowHeight="100px">
    <mat-grid-tile>
      <a style="text-decoration: none; color:black;font-size: 32px;" routerLink='/dashboard' routerLinkActive="activebutton"><strong>ZEO Solar IoT Dashboard</strong></a>
    </mat-grid-tile>
    <mat-grid-tile>
    </mat-grid-tile>
    <mat-grid-tile>
      <button mat-raised-button color="basic" href="#" routerLink='/setting' routerLinkActive="activebutton" style="padding: 3px; font-size: 24px;"><mat-icon>build</mat-icon></button>
      <button mat-raised-button style="margin-left: 5px; padding-top: 2.5px; padding-bottom: 2.5px; font-size: 24px;" color="basic" (click)="logout()">Logout</button>
    </mat-grid-tile>
  </mat-grid-list>
</div>
<div class="container">
  <h1>Setting page works!</h1>
</div>
